adium-theme-ubuntu==0.3.4
ale-python-interface==0.0.1
appnope==0.1.0
apt-xapian-index==0.46
Babel==1.3
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
blocks==0.1.1
certifi==2015.9.6.2
chainer==1.5.1
characteristic==0.1.0
chardet==2.3.0
colorama==0.3.2
command-not-found==0.3
cssselect==0.9.1
Cython==0.23.4
data==0.4
debtagshw==0.1
decorator==4.0.2
defer==1.0.6
dirspec==13.10
dnspython==1.12.0
docutils==0.12
duplicity==0.7.1
fake-useragent==0.0.8
feedparser==5.1.3
filelock==2.0.5
fuel==0.1.1
funcsigs==0.4
functools32==3.2.3.post2
gdata==2.0.18
gnureadline==6.3.3
h5py==2.5.0
html5lib==0.999
httplib2==0.9
idna==0.9
ipykernel==4.1.1
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.0.2
Jinja2==2.8
joblib==0.8.3
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.2
jupyter-core==4.0.6
Lasagne==0.2.dev1
lockfile==0.8
lxml==3.4.2
Mako==1.0.0
MarkupSafe==0.23
matplotlib==1.4.3
mistune==0.7.1
mock==1.3.0
nbconvert==4.0.0
nbformat==4.0.1
ndg-httpsclient==0.3.2
nltk==3.0.5
nose==1.3.7
notebook==4.0.4
numexpr==2.4.6
numpy==1.10.2
oauthlib==0.6.1
oneconf==0.3.7
PAM==0.4.2
pandas==0.17.0
path.py==8.1.2
pbr==1.8.0
pdb==0.1
pexpect==4.0.1
picklable-itertools==0.1.1
pickleshare==0.5
Pillow==3.0.0
piston-mini-client==0.7.5
progressbar2==3.3.0
protobuf==2.6.1
psutil==2.1.1
psycopg2==2.6
ptyprocess==0.5
pyasn1==0.1.7
pyasn1-modules==0.0.5
PyChart==1.39
pycrypto==2.6.1
pycups==1.9.72
pydot==1.0.32
Pygments==2.0.2
pygobject==3.14.0
pyinotify==0.9.5
-e git://github.com/lisa-lab/pylearn2@fe9beee9b922c97bd8e5dd2ac023e1def229da31#egg=pylearn2-master
pyOpenSSL==0.13.1
pyparsing==2.0.3
pyserial==2.6
python-apt===0.9.3.11build1
python-dateutil==2.4.2
python-debian==0.1.22
python-gnupg==0.3.8
python-ldap==2.4.10
python-midi==0.2.4
python-openid==2.2.5
python-stdnum==1.0
pytz==2015.4
PyWebDAV==0.9.8
pyxdg==0.25
PyYAML==3.11
pyzmq==14.7.0
qtconsole==4.1.0
queuelib==1.4.2
reportlab==3.1.44
requests==2.8.1
roman==2.0.0
scikit-learn==0.15.1
scipy==0.16.1
Scrapy==1.0.3
scrapy-fake-useragent==0.0.1
service-identity==1.0.0
sessioninstaller==0.0.0
simplegeneric==0.8.1
simplejson==3.6.5
six==1.10.0
software-center-aptd-plugins==0.0.0
system-service==0.1.6
tables==3.2.2
terminado==0.5
Theano==0.7.0
theano-lstm==0.0.15
toolz==0.7.4
tornado==4.2.1
traitlets==4.0.0
Twisted==15.4.0
Twisted-Core==14.0.2
Twisted-Web==14.0.2
unittest2==0.5.1
unity-lens-photos==1.0
urllib3==1.9.1
uTidylib==0.2
vatnumber==1.2
vobject==0.8.1rc0
w3lib==1.13.0
Werkzeug==0.9.6
wheel==0.26.0
xdiagnose==3.7.2
xlwt==0.7.5
zope.interface==4.1.1
ZSI==2.1a1
